html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  touch-action: none;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.svg-circle {
  max-width: 90vmin;
  max-height: 90vmin;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
}

.triangle-handle {
  pointer-events: all;
}
